<% @posts.each do |p| %>
  <div class="post-container">
    <h3><%= link_to p.title, p %></h3>
    <p class="date"><%= p.created_at.strftime("%B %d, %Y") %></p>
    <p>
      <% if @first_post == p.id %>
        <%= format_output p.content %>
      <% else %>
        <%= raw truncate(
              format_output(p.content),
              omission: "...<br />#{link_to '[Read More]', p}",
              length: 290,
              escape: false
        )%>
      <% end %>
    </p>
    <hr />
  </div>
<% end %>
