<% @posts.each do |p| %>
  <div class="post-container">
    <h3><a href="/posts/<%= p.id %>"><%= p.title %></a></h2>
    <p class="date"><%= p.created_at.strftime("%B %d, %Y") %></p>
    <p>
      <%=raw truncate(
            format_output(p.content),
            omission: " <a href=\"/posts/#{p.id}\">[...]</a>",
            length: 240,
            escape: false
      )%>
    </p>
    <hr />
  </div>
<% end %>
