<div class="main-container">
  <div class="main-content">
    <div class="content">
      <div class="heading">
        <h1>Bryan::Website</h1>
        <p>Software and stuff.</p>
      </div>

      <nav class="top-nav">
        <ul>
          <li><a href="#">Words</a></li>
          <li><a href="#">Visual</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>

      <% @post.each do |p| %>
        <h3><%= p.title %></h2>
        <p class="date"><%= p.created_at.strftime("%B %d, %Y") %></p>
        <p><%= p.content %></p>
      <% end %>
    </div>
  </div>
</div>
