<div class="post-container">
  <h3><%= @post.title %> <%= admin_edit_button %></h2>
  <p class="date"><%= @post.created_at.strftime("%B %d, %Y") %></p>
  <p><%= raw format_output @post.content %></p>
</div>
