<div class="page about-page">
  <p>I'm a software developer from New York, primarily working these days in Ruby &amp; Javascript.<br />
  I am also currently an instructional lead at <a href="http://generalassemb.ly">General Assembly</a>, a development bootcamp in NYC.</p>

  <p>Most of my open-source code lives on <a href="http://github.com/bryanmytko">GitHub</a>.</br>
  You can also view my professional resume on (ick) <a href="http://linkedin.com/in/bryanmytko">LinkedIn</a>.
  </p>
  <p>I made this website because the internet seemed to need more blogs.</p>
  <%= image_tag "desk.jpg", class: "feature-photo" %>
</div>
