<div class="page about-page">
  <p>I'm a software engineer from New York, primarily working in Ruby.<br />
    You can see more here: <a href="http://github.com/bryanmytko">GitHub</a>
    <a href="http://linkedin.com/in/bryanmytko">LinkedIn</a>
  </p>
  <p>I made this website because the internet seemed to need more blogs.</p>
  <%= image_tag "desk.jpg", class: "feature-photo" %>
</div>
