body {
  font-family: "Open Sans","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  margin: 0;
  padding: 0;
  background: #bebebe;
  color: #424242;
}

header { display: none }

.heading h1 {}

.main-container {
  width: 620px;
  margin: 0 auto;
}

.top-nav {}
.top-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top-nav ul li {
  display: inline;
}

.top-nav ul li:before {
  content: " | "
}

.top-nav ul li:first-child:before {
  content: ""
}

.top-nav ul li a {
  color: #ED1BBD;
}

.main-content {}

.main-content .content {
  padding: 40px;
}

.main-content h2 {
  font-size: 32px;
}

.main-content h3 {
  font-size: 26px;
  margin-bottom: 0;
}

.main-content p {
  font-size: 18px;
  line-height: 28px;
}

.main-content p.date {
  margin: 0;
  font-size: 12px;
  font-style: italic;
}

footer {
  width: 600px;
  margin: 0 auto;
}

footer ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 200px;
}

footer ul li {
  display: inline;
  color: #000;
  font-size: 12px;
}

footer ul li a {
  display: inline-block;
  background: asset-data-url("social.png");
  width: 95px;
  height: 94px;
}

footer ul li a.github {}

footer ul li a.twitter {
  background-position: right 0;
}

footer p {
  display: block;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  // break and go top image
}
