body {
  font-family: "Work Sans", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-size: 12px;
}

header { display: none }

.heading {
  padding: 40px 40px 0 40px;
}

.heading h1 {
  line-height: 1.0em;
  font-family: "Work Sans", "Helvetica", "Arial", sans-serif;
  font-size: 33px;
  font-weight: bold;
  margin: 0 0 6px 0;
  color: #000;
}

.heading h1 a {
  color: #000;
  text-decoration: none;
}

.heading p {
  margin: 0;
  padding: 0 0 20px 0;
  border-bottom: 10px solid #000;
}

.main-container {
  width: 920px;
  margin: 0 auto;
}

.top-nav {
  padding: 20px 40px;
  font-size: 1.4em;
}

.top-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top-nav ul li {
  display: inline;
}

.top-nav ul li:before {
  content: " | "
}

.top-nav ul li:first-child:before {
  content: ""
}

.top-nav ul li a {
  color: #ED1BBD;
  text-decoration: none;
}

.main-content {}

.main-content .content {
  padding: 40px;
  padding-top: 0px;
}

.main-content h2 {
  font-family: "Work Sans", "Helvetica", "Arial", sans-serif;
  font-size: 32px;
  color: #000;
}

.main-content h3 {
  font-family: "Work Sans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
  color: #000;
}

.main-content h3 a {
  color: #000;
  text-decoration: none;
}

.main-content h3 a:hover {
  color: #444;
  text-decoration: none;
}

.main-content p {
  font-size: 1.3em;
  line-height: 1.7em;
}

.main-content p.date {
  margin: 10px 0 30px 0;
  font-size: 1.2em;
  font-style: italic;
  color: #ED1BBD;
}

.main-content hr {
  border: 0;
  height: 1px;
  background: #e7e7e7;
  margin: 30px 0 20px 0;
}

.post-container {
  margin-top: 40px;
}

.post-container a  {
  color: #ED1BBD;
  text-decoration: none;
}

.post-container img {
  margin: 8px 20px 8px 0;
  width: 50%;
  border: 2px solid #ed1bbd;
  float: left;
}

.page img.feature-photo {
  width: 400px;
  border: 4px solid #000;
  margin: 0 auto 40px auto;
  display: block;
}

.about-page {}

.about-page a {
  font-size: 16px;
  color: #ED1BBD;
}

.about-page .about-image {}

textarea { height: 400px; font-size: 22px }

form { width: 100%; margin: 0 auto 80px auto }
form input[type=text],
form input[type=password],
textarea {
  width: 817px;
  display: block;
  padding: 12px 12px;
  font-size: 16px;
  border: 1px solid #999;
  margin: 6px;
}

form input[type=text],
form input[type=password]{
  width: 280px
}

form input[type=submit]{
  border: none;
  background: #ED1BBD;
  color: #fff;
  font-size: 22px;
  display: block;
  margin: 6px;
  width: 100px;
  padding: 12px 6px;
  float: right;
}

footer {
  width: 600px;
  margin: 0 auto;
}

footer ul {
  margin: 0 auto 20px auto;
  padding: 0;
  list-style-type: none;
  width: 200px;
}

footer ul li {
  display: inline;
  color: #000;
  font-size: 12px;
}

footer ul li a {
  display: inline-block;
  background: asset-data-url("social.png");
  width: 95px;
  height: 94px;
}

footer ul li a.github {}

footer ul li a.twitter {
  background-position: right 0;
}

footer p {
  display: block;
  text-align: center;
}

@media (max-width: 767px) {
  body {
    font-size: 22px;
  }

  .main-content p {
    font-size: 18px;
    line-height: 24px;
  }

  .main-container {
    width: 100%;
    margin: 0 auto;
  }

  .top-nav ul li {
    font-size: 22px;
  }

  .feature-photo {
    max-width: 100%;
  }

  footer {
    width: 100%;
  }

  .CodeRay {
    font-size: 7px;
  }

  .CodeRay .line-numbers {
    display: none;
  }

}
